/* Font */
@font-face {
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
    font-weight: 400 900;
    src: url(../fonts/Quicksand-VariableFont_wght.woff2);
  }

/* Variables */ 
:root {
    /* Color */
    --color-white:             #ffffff;
    --color-gray-white:        #F6F6F8;
    --color-black:             #1D1F24;
    --color-black-gray:        #565F82;
    --color-sky-light-blue:    #6480E8;
    --color-gray-blue:         #8D96BD;
    --color-gray:              #697CA6;
    --color-light-gray:        #ADB3CB;
    --color-light-gray-two:    #D1D1E4;
    --color-gray400:           #999999;
    --color-background-gray:   #F6F6F8;
    --color-skyblue:           #D2E1FF;
    --color-blue:              #5E81FE;
    --color-dark-blue:         #3D4F9F;
    --color-light-blue:        #F5F8FF;
    --color-pink:              #FFD7D7; 
    --color-red:               #D43F3F;
    --color-gray-input:        #EFEFF7;


     /* Font */
    --font-quicksand: 'Quicksand', sans-serif;

    /* Container */
    --container-width: 888px;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/* Tag styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-quicksand);
    line-height: 1.3;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);
}


ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

input {
    font-family: var(--font-quicksand);
}

input::placeholder {
    font-family: var(--font-quicksand);
}
